<%= stylesheet_link_tag "estilo.css" %>
<h1>Listado de tweets</h1>

<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>      
        <tr>
          <td><%= tweet.id %></td>
          <td><%= tweet.user_id %></td>
          <td><%= tweet.contenido %></td>
          <td><%= link_to 'Editar', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Borrar', tweet, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pagina Principal', welcome_index_path %>

 