<%= stylesheet_link_tag "estilo.css" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @user = User.find(@tweet.user_id).usuario %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @tweet.contenido %>
</p>

<%= link_to 'Editar', edit_tweet_path(@tweet) %> |
<%= link_to 'Atras', users_path %>
