<%= stylesheet_link_tag "estilo.css" %>
<h1>Listado de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Usuario</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.email %></td>
        <td><%= user.usuario %></td>
        <td><%= link_to 'Twittear', new_tweet_path %></td>
        <td><%= link_to 'Ver Tweets', tweets_path %></td>
        <td><%= link_to '[X]', user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
<%= link_to 'Pagina Principal', welcome_index_path %>