<%= stylesheet_link_tag "estilo.css" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atras', users_path %>
